<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.sweprojectothesis">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeachersActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".TeacherRegisterActivity" />
        <activity android:name=".AllStudentProjectActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".CreateVirtualClassroomActivity" />
        <activity android:name=".SearchVirtualClassroomActivity" />
        <activity android:name=".VirtualClassroomListActivity" />
        <activity android:name=".VirtualclassroomTeacherActivity" />
        <activity android:name=".VirtualclassroomStudentActivity" />
        <activity android:name=".VerificationCodeActivity" />
        <activity android:name=".GoogleclassroomJoinActivity" />
        <activity android:name=".RequestedVirtualClassroomListActivity" />
        <activity android:name=".VirtualClassroomActivity" />
        <activity android:name=".RequestedStudentListActivity" />
        <activity android:name=".CreatedVirtualClassroomListActivity" />
        <activity android:name=".CreatedClassroomListActivity" />
        <activity android:name=".ProjectStatsActivity" />
        <activity android:name=".AdminRegistrationActivity" />
        <activity android:name=".AddProjectActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AndroidPdfActivity" />
    </application>

</manifest>